<form name="tas.newTAForm" ng-submit="tas.addOrEditTA()" novalidate>
  <div class="form-group" ng-class="{'has-error': tas.newTAForm.$dirty}">
    <label class="control-label">First:</label>
    <input class="form-control" ng-model="tas.newTA.firstName" required>
    <span class="help-block" ng-show="tas.newTAForm.$invalid && tas.newTAForm.$dirty">
      A block of help text that breaks onto a new line and may extend beyond one line.
    </span>
  </div>
  <div class="form-group" ng-class="{'has-error': tas.newTAForm.$dirty}">
    <label class="control-label">Last:</label>
    <input class="form-control" ng-model="tas.newTA.lastName" required>
    <span class="help-block" ng-show="tas.newTAForm.lastName.$error && tas.newTAForm.$dirty">
      A block of help text that breaks onto a new line and may extend beyond one line.
    </span>
  </div>
   <div class="form-group" ng-class="{'has-error': tas.newTAForm.$dirty}">
    <label class="control-label">Profile Picture:</label>
    <input class="form-control" ng-model="tas.newTA.profilePic" required>
    <span class="help-block" ng-show="tas.newTAForm.profilePic.$error && tas.newTAForm.$dirty">
      A block of help text that breaks onto a new line and may extend beyond one line.
    </span>
  </div>
  <select class="form-control" ng-model="tas.newTA.cohort">
    <option ng-selected="key===2" ng-repeat="(key, val) in tas.cohortOptions" value={{key}}>{{val}}</option>
  </select>
  <div ng-class="{'has-error': tas.newTAForm.$dirty}">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="tas.newTA.current">
        Current
      </label>
    </div>
  </div>
  <input class="btn btn-success" ng-show="tas.newTAForm.$valid" type="submit" value="Save">
</form>